* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-link {
    font-weight: 400;
    color: crimson;
}

.active {
    font-weight: 500;
    color: brown
}

.btn-primary {
    background-color: crimson;
    border: 0;
    font-weight: 500;
}

.btn-primary:hover {
    background-color: brown;
}